<ol class="breadcrumb">
    <li><a href="#/projects">Projects</a></li>
    <li>Workflow</li>
    <li class="active">Create Algorithm Module</li>
</ol>

<div class="panel panel-info">
    <div class="panel-heading">Create Algorithm Module in Workflow</div>
    <div class="panel-body">
        <div class="row" style="margin-bottom:2px" ng-show="modules">
            <div class="col-md-2">
                Algorithm:
            </div>
            <div class="col-md-10">
                <select ng-options="pc.id as pc.name for pc in modules" ng-model="node.nodeModelId" ng-change="onModuleSelectionChanged()" />
            </div>
        </div>
        <div class="row" style="margin-top:8px">
            <div class="col-md-2">
                Node Name:
            </div>
            <div class="col-md-10">
                <input type="text" ng-model="node.nodeName" />
            </div>
        </div>
        <div class="row" style="margin-top:8px">
            <div class="col-md-2">
                Node Width:
            </div>
            <div class="col-md-10">
                <input type="text" ng-model="node.nodeWidth" />
            </div>
        </div>

        <div class="row" style="margin-bottom:5px">
            <div class="col-md-12">
                <button class="btn-xs btn-warning pull-right" ng-click="cancel();">Cancel</button>
                <button class="btn-xs btn-success pull-right" ng-click="ok();" style="margin-right:10px;">OK</button>
            </div>
        </div>
   </div>
</div>